{% import "_includes/forms" as forms %}


{% if assetSources|length == 1 %}
<p class="error">{{ 'No sources exist yet.'|t }}</p>

{% else %}
    <div class="field">
        <div class="heading">
            <label>{{ 'Save images in'|t }}</label>
            <div class="instructions"><p>{{ 'Select the asset source in which you want to save your images'|t }}</p>
            </div>
        </div>
        <div class="input ltr">
            <div class="flex">
                <div>
                    <div class="select">
                        <select id="assetSource" name="assetSource">
                            {% for volume in assetSources %}
                                <option value="{{ volume.value }}"
                                        {% if settings['assetSource'] == volume.value %}selected{% endif %}>{{ volume.label }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                <div class="flex-grow">
                    <input class="text ltr fullwidth" type="text" id="assetFolder" name="assetFolder" value="{{ settings['assetFolder'] }}"
                           autocomplete="off" placeholder="path/to/subfolder">
                </div>
            </div>

        </div>
    </div>


<h2>{{ 'Credits'|t }}</h2>
{% if sourceFields|length == 1 %}
    <p class="error">{{ 'No fields add to assets in this Assets Source.'|t }}</p>
    <p class="error">{{ 'Add a text field or a rich text field to automatically add image credits from Unsplash'|t }}</p>

{% else %}
{{ forms.selectField({
    first:        true,
    label:        "Image credits field"|t,
    required:     false,
    id:           'creditsField',
    name:         'creditsField',
    instructions: "Select a text field in which the photo credits will be saved. <br>Note: images from Unsplash are free to use but if at all possible, why not include credit to the photographer?"|t,
    value:        settings.creditsField,
    options:      sourceFields,
    errors:       settings.getErrors('creditsField')
}) }}
{% endif %}


{% endif %}