
{% extends "_layouts/site" %}

{% set entries = craft.entries.section('lobbyingSuccesses').order('sticky desc').find() %}

{% block content %}
<div class="container-xl dark-bg ">
    <div class="container resources ">
        <section class="dark-title">
            <div class="col-xs-16  col-sm-12 col-md-12">
                <h1 class=""><span class="report-category">Lobbying Successes</span> <span class="title-shrunk">Lobbying Successes</span></h1>

            </div>
            <div class="col-xs-16 col-sm-4 col-md-4 time-bg">

                <div class="hide time">

                    <span class="glyphicon glyphicon-time"></span>
                    <div class="time-heading">Reports</div>
                    <div class="estimate">READING TIME 15 mins</div></div>
            </div>
        </section>
    </div>
</div>
<div class="container main-outer">
    <section class="main">
        <div class="col-sm-10 col-md-10 main-col pages">

            {% for entry in entries %}


            {% set link = entry.url %}
            {% set media = entry.leadImage.first() %}


            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <a href="{{ siteUrl }}{{ entry.url }}" class="">
                            <img class="media-object" src="{{ media.getUrl('inlineWithText') }}" alt="...">
                        </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ entry.title }}</h4>
                    {{ entry.body }}

                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
        {% include '_includes/page-sidebar.html' %}
    </section>
</div>
{% endblock %}
