{#
# Page entry template
# -------------------
#
# This template gets loaded whenever a News entry’s URL is
# requested. That’s because the News section’s Template setting is
# set to “news/_entry”, the path to this template.
#
# When this template is loaded, it will already have an ‘entry’
# variable, set to the requested News entry.
#
# See this page for more details on how Craft routes requests:
# http://buildwithcraft.com/docs/routing
#}

{% extends "_layouts/site" %}

{% block content %}
<div class="container-xl dark-bg ">
    <div class="container resources ">
        <section class="dark-title">
            <div class="col-xs-16  col-sm-12 col-md-12">
                <h1 class=""><span class="report-category">Contact us</span> <span class="title-shrunk">Contact us</span></h1>

            </div>
        </section>
    </div>
</div>
<div class="container site page">
    <section class="main">
        <div class="col-md-6  main">

            <div class="contactInfo"><h2>Contacting Trade Justice Movement</h2>
            <p>Tel: {{ contactChannel.directDial }}</p>
            <p>Address: <br> {{ organisation.orgInfo }}</p>
            </div>
            <div class="contactInfo">
            {% if contactChannel.showContactForm %}

                <h3>Contact form</h3>
            {% macro errorList(errors) %}
            {% if errors %}
            <span class="errors">
                {% for error in errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </span>
            {% endif %}
            {% endmacro %}

            {% from _self import errorList %}
            <form method="post" class="form-contact" action="" accept-charset="UTF-8" style="max-width:400px">
                {{ getCsrfInput() }}
                <input type="hidden" name="action" value="guestEntries/saveEntry">
                <input type="hidden" name="redirect" value="contact/success">
                <input type="hidden" name="sectionId" value="3">

                <div class="form-group">
                    <label for="message">{{ "Message Subject" | t }}</label>
                    <input id="message" type="text" class="form-control" name="title" message="oh no">
                    {% if entry is defined %}
                    {{ errorList(entry.getErrors('title')) }}
                    {% endif %}

                </div>
                <div class="form-group ">
                    <h4><label for="fromName">{{"Name"|t}}</label></h4>
                    <input id="fromName" type="text" class="form-control"  name="fields[fromName]" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
                    {% if entry is defined %}
                    {{ errorList(entry.getErrors('fromName')) }}
                    {% endif %}
                </div>
                <div class="form-group ">
                    <h4><label for="contactEmail">{{"Your email"|t}}</label></h4>
                    <input id="contactEmail" type="text" class="form-control"  name="fields[contactEmail]" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
                    {% if entry is defined %}
                    {{ errorList(entry.getErrors('fromName')) }}
                    {% endif %}
                </div>
                <div class="form-group ">
                    <h4><label for="fromTel">{{"Your telephone no."|t}}</label></h4>
                    <input id="fromTel" type="text" class="form-control contactmsg"  name="fields[contactTelephone]" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
                    {{ message is defined and message ? errorList(message.getErrors('fromTel')) }}
                </div>
                <div class="form-group">
                    <label for="body">{{ "Message" | t }}</label>
                    <textarea class="form-control"  id="body" name="fields[body]"></textarea>

                </div>
                <div class="form-group">

                </div>


                <input type="submit" class="btn btn-default" value="Send">
                <input type="hidden" name="enabled" value="0">
                <input type="hidden" name="postDate" value="{{ now|date("Y-m-j H:i:s") }}" />


            </form>
                </div>
        </div>
        {% endif %}
        <div class="col-md-3 col-md-offset-1 sidebar">



        </div>
    </section>
</div>
{% endblock %}