{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layouts/site" %}

{% block content %}


    {% set cropPos = '' %}
    {#Top-Left#}
    {#Top-Center#}
    {#Top-Right#}
    {#Center-Left#}
    {#Center-Center#}
    {#Center-Right#}
    {#Bottom-Left#}
    {#Bottom-Center#}
    {#Bottom-Right#}
    {#{%  if entry.cropPosition = "center" %}#}
        {#{% set cropPos = 'center-center' %}#}
    {#{% endif %}#}
    {#{% if entry.cropPosition = "left" %}#}
        {#{% set cropPos = 'center-left' %}#}
    {#{% endif %}#}


    <div class="container-xl dark-bg">
    <div class="container ">
        <section class="dark-title">
            <div class="col-xs-16 col-sm-12 col-md-12">
                <h1 class="">{{ entry.title }}</h1>
            </div>
            <div class="col-xs-16 col-sm-4 col-md-4">

                {#<div class="time">#}
                    {#Posted on {{ entry.postDate.format('F d, Y') }}#}
                {#</div>#}
            </div>
        </section>
    </div>
</div>


<div class="container ">
    <section class="main blogentry">
        <div class="col-xs-16  col-md-9 main-col">
            <article>
                <div class="date">
                    Posted on {{ entry.postDate.format('F d, Y') }}
                </div>
                {% set image = entry.leadImage[0] ?? null %}

                {% if image %}
                    {% if image.focalPoint | length %}
                        {#{% set focalPoint = image.getFocalPoint() %}#}
                        {% set position = image.focalPoint %}
                    {% else %}
                        {% set position = entry.leadImage[0].cropPosition |default("center-center") %}
                    {% endif %}
                    {% set transformedImages = craft.imager.transformImage(image,
                    [
                    { width: 600, ratio: 4/3, jpegQuality: 65 },
                    { width: 768, ratio: 1/1 ,jpegQuality: 80 },
                    { width: 900, ratio: 1/1, jpegQuality: 90 },

                    ],
                    {
                    format: 'jpg',
                    allowUpscale: false,
                    mode: 'crop',
                    interlace: true
                    }
                    ) %}

                    <picture>
                        <source media="(max-width: 600px)" sizes="100vw" srcset="{{ transformedImages[0].url }}">
                        <source media="(max-width: 768px)" sizes="100vw" srcset="{{ transformedImages[1].url }}">
                        <source media="(max-width: 2000px)" sizes="100vw" srcset="{{ transformedImages[2].url }}">
                        <img class="img-responsive" src="{{ transformedImages[1].url }}" alt="{{ image.title }}">
                    </picture>

                {% endif %}
                {{ entry.body }}

            </article>

        </div>

        <div class="col-xs-16  col-md-4 col-md-offset-2 side-co    ">


            <div class="pside-inner">
                <aside id="nav" class="psidemenu ">
                    <h3>Blog posts</h3>


                    {% if year is not defined %}
                        {% set year = now.year %}
                    {% endif %}
                    {% if year is not defined %}
                        {% redirect "blog/archive/"~now.year %}
                    {% endif %}


                    {% set entries = craft.entries({
                    section: 'blog',
                    with:
                    ['leadImage']
                    }).order('sticky desc', 'postDate desc') %}

                    {% set entries = craft.entries({
                    section:        'blog',
                    with: ['leadImage']
                    }).order('sticky desc', 'postDate desc').id('not ' ~ entry.id) %}


                    <div class="nav" data-spy="scrollspy">
                        {% for entry in entries %}
                            {% if entry.sticky %}
                                {% set sticky = "sticky" %}
                            {% else %}
                                {% set sticky = '' %}
                            {% endif %}


                        <div class="media {{sticky}}">

                            {% set image = entry.leadImage[0] %}
                            {% set transformedImages = craft.imager.transformImage(image,
                            [
                            { width: 320, ratio: 4/3, jpegQuality: 65 },
                            { width: 768, ratio: 1/1 ,position:'center-center'},

                            ],
                            {
                            format: 'jpg',
                            allowUpscale: true,
                            mode: 'crop',
                            jpegQuality: 80,

                            interlace: true
                            }
                            ) %}
                            <div class="media-left">
                                {% if image %}
                                    <a href="{{entry.url}}">
                                        <picture>
                                            <source media="(max-width: 768px)" sizes="100vw" srcset="{{ transformedImages[0].url }}">
                                            <source media="(max-width: 3000px)" sizes="100vw" srcset="{{ transformedImages[1].url }}">
                                            <img class="img-responsive" src="{{ transformedImages[1].url }}" alt="{{ image.title }}">
                                        </picture>


                                    </a>
                                {% endif %}
                            </div>





                            <div class="media-body">
                                <h4 class="media-heading"><a href="{{ entry.url }}">{{ entry.title }}</a></h4>
                                <div class="short-desc">{{ entry.ShortDescription }}</div>

                            </div>
                            </div>
                        {% endfor %}
                    </div>


                </aside>
            </div>

        </div>
    </section>

</div>

{% endblock %}
